body {
    background-image: url("./assets/img/logosvg.svg");
    background-color: #353535;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    font-family: "Inter", sans-serif;
}